:root {
    --primary-color: #ff9900;
    --bg-color: #f8f8f8;
    --color-333: #333;
    --color-666: #666;
    --color-999: #999;
    --color-ccc: #ccc;
    --border-color: #eeeeee;
    --color-fff: #fff;
    --border-radius: .32rem;
    --padding-gap: .32rem;
    --gap-2: 2px;
    --gap-5: .1rem;
    --gap-10: .2rem;
    --font-size-12: .24rem;
    --font-size-14: .28rem;
    --font-size-16: .32rem;
    --font-size-18: .36rem;
    --font-size-20: .4rem;
    --font-size-22: .44rem;
    --font-size-24: .48rem;
    --font-size-28: .56rem;
    --font-size-32: .64rem;
    --font-size-36: .72rem;
    --font-size-48: .96rem;
    --font-size-56: 1.12rem;
}