:root {
    --primary-color: #ff9900;
    --bg-color: #f8f8f8;
    --color-333: #333;
    --color-666: #666;
    --color-999: #999;
    --color-ccc: #ccc;
    --border-color: #eeeeee;
    --border-width: .21rem;
    --color-fff: #fff;
    --border-radius: 1rem;
    --padding-gap: 1rem;
    --gap-2: .13rem;
    --gap-5: .31rem;
    --gap-10: .63rem;
    --gap-20: 1.25rem;
    --gap-40: 2.5rem;
    --gap-60: 3.75rem;
    --font-size-12: .75rem;
    --font-size-14: .88rem;
    --font-size-16: 1rem;
    --font-size-18: 1.13rem;
    --font-size-20: 1.25rem;
    --font-size-22: 1.38rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;
    --font-size-48: 3rem;
    --font-size-56: 3.5rem;
    /* 初始 CSS 变量 */
    --theme-color-primary-50: 255, 250, 245;
    --theme-color-primary-100: 255, 244, 232;
    --theme-color-primary-200: 241, 208, 179;
    --theme-color-primary-300: 227, 172, 130;
    --theme-color-primary-400: 214, 137, 86;
    --theme-color-primary-500: 200, 103, 47;
    --theme-color-primary: 186, 69, 12;
    --theme-color-primary-700: 159, 53, 8;
    --theme-color-primary-800: 131, 38, 4;
    --theme-color-primary-900: 104, 26, 2;
    --theme-color-primary-950: 77, 15, 0;
    --theme-color-dark-50: 238, 255, 240;
    --theme-color-dark-100: 232, 255, 235;
    --theme-color-dark-200: 210, 237, 214;
    --theme-color-dark-300: 189, 220, 195;
    --theme-color-dark-400: 169, 202, 176;
    --theme-color-dark-500: 149, 185, 158;
    --theme-color-dark: 131, 167, 141;
    --theme-color-dark-700: 85, 144, 104;
    --theme-color-dark-800: 48, 122, 74;
    --theme-color-dark-900: 19, 99, 50;
    --theme-color-dark-950: 0, 77, 32;
    --theme-color-primaryBlack: 25, 9, 1;
    --theme-color-primaryWhite: 243, 242, 242;
    --theme-color-darkBlack: 1, 25, 8;
    --theme-color-darkWhite: 242, 243, 242;
    --theme-color-functional-success: 17, 187, 141;
    --theme-color-functional-warning: 185, 80, 0;
    --theme-color-functional-error: 218, 20, 20;
    --theme-color-functional-info: 46, 90, 172;
    --theme-color-extend0: 96, 110, 104;
    --theme-color-extend1: 78, 102, 73;
    --theme-color-extend2: 153, 17, 153;
}